*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma, ui-monospace;
}
body{
  background-color: #0d0b0e;
  color: azure;
}
.App{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.coins-text{
  font-family: Tahoma, serif;
  masrgin-top: 15px;
}
.scroll-view{
  display: flex;
  flex-direction: row;
  overflow-x: scroll;

}
