.card{
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.32);
    border-radius: 10px;
    width: 300px;
    height: 450px;
    margin: 25px;

    cursor: pointer;
    text-align: center;
    transition: transform 0.2s ease-out;
    background: rgb(34,193,195);

    user-select: none;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(149,45,253,1) 100%);
}
.card-preview-text{
    margin-top: 20px;
}
.card-image{
    padding: 4px;
    width: 90%;
    height: 55%;
    object-fit: cover;
    border-radius: 10px;
}
.card-rare-level{
    position: absolute;
    font-size: 40px;
    width: 15%;
    height: 10%;
    right:0;
    bottom: 0;
    border-radius: 10px;
    margin: 6px;
    color: rgba(240, 255, 255, 0.51);
}
.card-stats{
    text-align: left;
    margin: 10px;
    font-size: 20px;
    font-family: "Arial Black", serif;

}