.card{
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.32);
    border-radius: 10px;
    width: 300px;
    height: 450px;
    margin: 25px;

    cursor: pointer;
    text-align: center;
    transition: transform 0.2s ease-out;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(149,45,253,1) 100%);
}
.card-preview-text{
    margin-top: 20px;
}