*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}
.App{
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.clickerButton{
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border:none;
  color: white;
  background-color: black;
  transition: border-radius .1s ease;
}
.clickerButton:active{
  border-radius: 15px;
}